body{
    font-family: 'Roboto', sans-serif;
}
h1{
    font-size: 50px;
}
.name-highlight{
    color: orange;
}

.firstdiv{
    width: 50%;
    float: left;

}
.seconddiv{
    width: 50%;
    float : left;
}
